.bingoRow {
  display: flex;
  flex-direction: row;
}

.bingoSquare {
  width: 150px;
  height: 150px;
  border: 1px solid black;

  position: relative;

  margin: 2.5px;
  padding: 2.5px;

  &:hover {
    cursor: pointer;
  }

  .empty {
    font-style: italic;
    color: gray;
  }

  .filled {
    background-color: lightgrey;
  }
}

.editSquare {
  position: absolute;
  top: 0;
  right: 0;
}

.bingoSquareContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  text-align: center;
}

.bingoFills {
  color: gray;
}
