.detailsWrapper {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.detailsWrapperHeader {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: fit-content;
}

.roundBadge {
  border-radius: 50px;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  text-wrap: nowrap;
}

.tagBadge {
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 0.5rem;
  text-wrap: nowrap;
  background-color: #e6e6e6;
  color: #718189;
  text-wrap: nowrap;
}

.clickable {
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 2px gray;
  }
}

.invisibleLink {
  color: black;
  text-decoration: none;
}

.Planning,
.Picked {
  background-color: #fce5cd;
}

.Recording {
  background-color: #cfe2f3;
}

.Recorded {
  background-color: #c1daf1;
}

.Editing,
.VisualEdit,
.FirstPass,
.Collab {
  background-color: #d9d2e9;
}

.Takes,
.SFXMusic,
.ProofListen,
.NeedsRerecord {
  background-color: #ead1dc;
}

.Posting,
.AskFirst {
  background-color: #bfefb0;
}

.Finished,
.Posted,
.Unknown {
  background-color: none;
}

/* "picked" in podfic tracker spreadsheet */
/* .Picked {
  background-color: #fce5cd;
} */

.Chaptered {
  background-color: #b4fbf1;
}

.Music {
  background-color: #ead1dc;
}

.Cover,
.Permission {
  background-color: #b7e1cd;
}

.NotPermission {
  background-color: #f4cccc;
}

.Asked {
  background-color: #ffff00;
}

.Ghosted {
  background-color: #f6b26b;
}

.ToAsk,
.ToAskFirst {
  background-color: #6d9eeb;
}

.No {
  background-color: #ff0000;
}

.BP {
  background-color: #00ff00;
}

.Gen {
  background-color: #76a600;
}

.Teen {
  background-color: #e6d200;
}

.Mature {
  background-color: #f88513;
}

.Explicit {
  background-color: #a10202;
}

.NotRated {
  background-color: #c1daf1;
}
